{
// Default options
'functions': true
}

{{#items}}
    ${{name}}-x: {{px.x}};
    ${{name}}-y: {{px.y}};
    ${{name}}-offset-x: {{px.offset_x}};
    ${{name}}-offset-y: {{px.offset_y}};
    ${{name}}-width: {{px.width}};
    ${{name}}-height: {{px.height}};
    ${{name}}-total-width: {{px.total_width}};
    ${{name}}-total-height: {{px.total_height}};
    ${{name}}-image: '{{{escaped_image}}}';
    ${{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}';
{{/items}}

{{#options.functions}}

    @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
    }

    @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
    }

    @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
    }

    @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    }

    @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
    }
{{/options.functions}}