@import "tmp/normalize";
@import "tmp/variables";
@import "tmp/task1";
@import "tmp/task2";
@import "tmp/task3";

.task {
  display: block;
  position: fixed;
  font: 700 normal 40px/50px none;
  font-family: $raleway;
}

.task1 {
  top: 30px;
}

.task2 {
  top: 220px;
}

.task3 {
  top: 550px;
}

.car_link {
  display: block;
  position: fixed;
  top: 550px;
  left: 300px;
  font: 700 normal 40px/50px none;
  font-family: $raleway;
}








