.block {
  position: fixed;
  top: 300px;
  left: -600px;
  width: 800px;
  height: 200px;
  background-color: #7FFF00;
  border-radius: 20px;
  transition: left 6s linear 0s;
  &:hover {
    left: 100px;
  }
}