.button {
  position: fixed;
  top: 100px;
  left: 100px;
  display: block;
  width: 200px;
  height: 100px;
  background-color: #FFFF00;
  border: 3px solid #000000;
  border-radius: 10px;
  text-align: center;
  font: 700 normal 30px/100px none;
  text-decoration: none;
  transition: background-color 2s linear 0s;
  &:hover {
    background-color: #008000;
  }
  &:active {
    background-color: #A52A2A;
  }
}