.background {
  width: 1280px;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.car {
  width: 150px;
  position: fixed;
  top: 500px;
  left: 0px;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes caranim {
  0% {
    top: 500px;
    left: 0px;
  }
  75% {
    top: 500px;
    left: 1050px;
  }
  100% {
    top: 500px;
    left: 550px;
  }
}

.anim {
  animation: caranim 10s ease-in-out 0s 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}